<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stadtrundfahrt Linz</title>

    <style>


    </style>


</head>


<body>

<h1 class="">
    Stadtrundfahrt Linz
</h1>


<button>Ticket Kaufen</button>

    <form action="" >


        <label for="datumeingabe">Datum</label>
        <input type="date" id="datumeingabe" name="datumeingabe" required>
        <br>
        <label for="anzahl">Anzahl</label>
        <input type="number" id="anzahl" name="anzahl" value="0">


        <label for="code">Rabattcode</label>
        <input type="text" id="code" name="anzahl" value="0">

        <br>

        <label for="route">Route auswählen</label>
        <select name="route" id="cars">
            <option value="poestlingberg">Pöstlingberg Route</option>
            <option value="altstadt">Altstadtrunde</option>

        </select>
        <br>

        <input type="submit" value="Weiter zu Kaufbildschirm"/>

    </form>

</body>
</html>